<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음료류</title>
    <style>
        #main{
            text-align: center;
            border: 8px;
            margin: 10px;
        }
        #url{
            margin-top: 100px;
            padding: 150px;
            border-width: 3px;
            border-style: solid;
        }
    </style>
</head>
<body>
    <div id="main">
        <h1>음료류</h1>
        <div id="url">
            <input type="button" value="주문하기" onclick="window.location.href='/drinkorder'"><br>
            <input type="button" value="매뉴목록으로" onclick="window.location.href='/'">
        </div>
    </div>
</body>
</html>